[submodule "nvim/.config/kickstart.nvim"]
	path = nvim/.config/kickstart.nvim
	url = git@github.com:zlRivo/kickstart.nvim.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:zlRivo/kickstart.nvim.git
